@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: BricolageGrotesque;
      src: url("./assets/fonts/BricolageGrotesque/BricolageGrotesque-SemiBold.ttf") format("truetype");
      font-weight: 600;
    }


  @font-face {
      font-family: SFProRounded;
      src: url("./assets/fonts/SFProRounded/SF-Pro-Rounded-Semibold.ttf") format("truetype");
      font-weight: 600;
    }  

  @font-face {
      font-family: SFProRounded;
      src: url("./assets/fonts/SFProRounded/SF-Pro-Rounded-Regular.ttf") format("truetype");
      font-weight: 400;
    } 


  @font-face {
      font-family: Poppins;
      src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
      font-weight: 600;
    }
  @font-face {
      font-family: Poppins;
      src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
      font-weight: 700;
    }

    * {
      font-family: SFProRounded;
    }

    #messageContainer {
      height: calc(100% - 191px);
    }

    .app-title {
      background:linear-gradient(213.63deg, #00F5B5, #051320), linear-gradient(211.24deg, transparent, #FFF8BC, #ADE2FF);
      
      color: transparent;
      background-clip: text;
    }

    ::-webkit-scrollbar {
      position: relative;
      left: 20px;
      width: 5px;
      height: 5px;
      margin-left: 40px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: rgba(242, 244, 247, 1);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}

@layer utilities {
  .font-BricolageGrotesque {
    font-family: BricolageGrotesque;
  }

  .font-SFProRounded {
    font-family: SFProRounded;
  }

  .font-Poppins {
    font-family: Poppins;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
